# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

set -g @continuum-save-interval '15'
set -g @continuum-restore 'on'

set -g @resurrect-strategy-vim 'session'
set -g @resurrect-strategy-nvim 'session'
set -g @resurrect-capture-pane-contents 'on'
set -g @resurrect-processes 'ssh psql mysql'

# ===================================
# Switch default prefix to ctrl spoce
unbind C-b
set -g prefix C-space
bind C-space send-prefix

# Some option from sensible tmux
set -s escape-time 0
set -g history-limit 50000
set -s default-terminal "tmux-256color"
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "EUSDSJRN3BH4")) }}
set -as terminal-features ",*:RGB"
{{ end }}

# For PI ?
set -g extended-keys on
set -g extended-keys-format csi-u

# Enable vi mode
setw -g mode-keys vi

# Intuitive split keys
bind | split-window -h
bind _ split-window -v

# vim-like key bindings for selection
bind -T copy-mode-vi v send-keys -X begin-selection
bind -T copy-mode-vi C-v send-keys -X rectangle-toggle
bind -T copy-mode-vi V send-keys -X select-line

# Copy (yank) to system clipboard instead
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "wl-copy"

# Increase scrollback buffer size (default is 2000)
set -g history-limit 50000

# Enable mouse
set -g mouse on

# Start window/pane numbering at 1
set -g base-index 1
setw -g pane-base-index 1

# Renumber windows when one is closed
set -g renumber-windows on

# Status bar
source-file ~/.tmux/status-bar.tmux

# Initialize TPM (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
